@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 14% 97%;
    --foreground: 210 29% 15%;
    --card: 0 0% 100%;
    --card-foreground: 210 29% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 29% 15%;
    --primary: 210 29% 24%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 210 29% 24%;
    --muted: 240 5% 94%;
    --muted-foreground: 210 29% 45%;
    --accent: 207 68% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 88%;
    --input: 240 5% 88%;
    --ring: 207 68% 53%;
    --chart-1: 210 29% 24%;
    --chart-2: 207 68% 53%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 29% 10%;
    --foreground: 240 14% 90%;
    --card: 210 29% 14%;
    --card-foreground: 240 14% 90%;
    --popover: 210 29% 10%;
    --popover-foreground: 240 14% 90%;
    --primary: 207 68% 53%;
    --primary-foreground: 210 29% 10%;
    --secondary: 210 29% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 29% 18%;
    --muted-foreground: 240 14% 60%;
    --accent: 210 29% 24%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 29% 18%;
    --input: 210 29% 18%;
    --ring: 207 68% 53%;
    --chart-1: 207 68% 53%;
    --chart-2: 210 29% 24%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

section {
  @apply w-full py-16 md:py-24 lg:py-32;
}
